---
interface Props {
  stats: { label: string; value: string }[];
}

const { stats } = Astro.props;
---

<ul class="stats">
  {
    stats.map(({ label, value }) => (
      <li>
        <span class="label">{label}</span>
        <span class="value">{value}</span>
      </li>
    ))
  }
</ul>
